"*":
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "Source Code Pro for Powerline"
    fontSize: 17
    preferredLineLength: 120
    showIndentGuide: true
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  welcome:
    showOnStartup: false
".source.swift":
  editor:
    preferredLineLength: 120
