"*":
  Hydrogen:
    kernelspec: "{\"kernelspecs\":{\"ruby\":{\"resource_dir\":\"/Users/denis/Library/Jupyter/kernels/ruby\",\"spec\":{\"argv\":[\"/Users/denis/.rbenv/versions/2.3.0/bin/iruby\",\"kernel\",\"{connection_file}\"],\"language\":\"ruby\",\"env\":{},\"display_name\":\"Ruby 2.3.0\"}},\"python3\":{\"resource_dir\":\"/usr/local/lib/python3.5/site-packages/ipykernel/resources\",\"spec\":{\"argv\":[\"/usr/local/opt/python3/bin/python3.5\",\"-m\",\"ipykernel\",\"-f\",\"{connection_file}\"],\"language\":\"python\",\"env\":{},\"display_name\":\"Python 3\"}}}}"
  editor:
    fontFamily: "Source Code Pro for Powerline"
    fontSize: 17
    preferredLineLength: 120
    showIndentGuide: true
  "exception-reporting":
    userId: "f3cd0861-62c1-373c-3ef3-8d9c92595f33"
  welcome:
    showOnStartup: false
