"*":
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
  editor:
    fontFamily: "Source Code Pro for Powerline"
    fontSize: 17
    preferredLineLength: 120
    showIndentGuide: true
  "exception-reporting":
    userId: "f3cd0861-62c1-373c-3ef3-8d9c92595f33"
  welcome:
    showOnStartup: false
".source.swift":
  editor:
    preferredLineLength: 120
